.App {
  text-align: center;
}

#logo {
  height: 50px;
  background: white;
}

.nav-wrapper {
  font-size: 1.5rem;
  background: #313131;
}
.nav-wrapper > a {
  color: white;
  padding: 5px;
  text-decoration: none;
}
.sub-menu {
  text-align: center;
}
.sub-menu > a {
  text-decoration: none;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
