.App {
  text-align: center;
}

.nav-wrapper {
  font-size: 1.5rem;
  background: #313131;
}
.menu {
  color: white;
  padding: 5px;
  text-decoration: none;
}

.menu:hover {
  color: darkgray;
}

.active-menu {
  color: darkgray;
}

.sub-menu {
  background: black;
  text-align: center;
  padding: 50px 10px;

}

.sub-menu > a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.sub-menu >a:hover {
  color:#6bf;
}
